.main {
  display: flex;
  margin: 0 auto;
  padding: 50px;
  width: 1440px;
  flex-direction: column;
}

.accounts__container {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  height: 156px;
  margin-bottom: 50px;
  margin-right: 70px;
  padding: 22px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.accounts__container:nth-child(3n) {
  margin-right: 0;
}

.cont {
  flex-direction: column;
}

.accounts__title {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.18px;
}

.accounts__balance {
  margin-bottom: 31px;
  color: #182233;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.accounts__last-transaction,
.accounts__last-transaction-value {
  width: 140px;
  color: #000;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
}

.accounts__last-transaction {
  font-weight: 700;
}

.accounts__last-transaction-value {
  font-weight: 400;
}

.accounts__btn {
  padding: 16px 24px;
  height: 52px;
  width: 110px;
  align-self: flex-end;
}

.accounts__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.accounts__dropdown,
.accounts__dropdown:hover,
.accounts__dropdown:focus {
  width: 300px;
  height: 44px;
  margin-left: 35px;
  padding: 8px 16px;
  border-radius: 7px;
  border: 1px solid #116acc !important;
  background: #fff !important;
  text-align: left;
  color: #374151 !important;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.accounts__dropdown-item:active {
  background-color: #a0c3ff !important;
}

.accounts__dropdown-item--checked {
  background-image: url(../assets/img/check.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.accounts__dropdown-menu {
  top: -2px !important;
  width: 300px;
}

.accounts__dropdown::after {
  margin-left: 60%;
}

.accounts__dropdown-item {
  color: #374151 !important;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.account_create-account {
  width: 234px;
  height: 52px;
  padding: 16px 24px;
  text-align: right;
  background-image: url(../assets/img/plus.svg);
  background-repeat: no-repeat;
  background-position: left 24px center;
  font-size: 16px;
}

.accounts__h1 {
  margin-bottom: 0;
}
